.additions {
  padding-top: 31px;

  @media (min-width: $tablet-width) {
    margin-top: 69px;
  }
}

.additions__title {
  margin-top: 31px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.additions__list {
  list-style: none;
  margin-top: 32px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 62px;
  }
}

.additions__item {
  @media (min-width: $tablet-width) {
    flex: 1 1 50%;
  }

  @media (min-width: $desktop-width) {
    flex: 1 1;
  }
}
