.additions {
  outline: none;
}

.additions__list {
  list-style: none;
  margin-top: 32px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 57px;
    max-width: 1219px;
    padding: 0 65px 0 70px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1300px;
    margin: 57px auto 0 auto;
    padding: 0 40px;
  }
}

.additions__item {
  padding-bottom: 12px;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 53%;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 325px;

    &:last-child {
      width: 200px;
    }
  }
}

.additions__item:nth-child(2n) {
  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 44%;
  }
}

.additions__item:first-child,
.additions__item:first-child + .additions__item {
  @media (min-width: $tablet-width) {
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}
