.additions {
  margin-top: 31px;
}

//.additional__title {}
//.additional__item {}

.additions__list {
  list-style: none;
  margin-top: 32px;
}

.additions__divider {
  width: 136px;
  height: 3px;
  background-color: $c-green;
}
