.additional {
  width: auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }
}

.additional__title {
  white-space: nowrap;
  margin-bottom: 32px;
  display: inline-block;

  @media (min-width: $tablet-width) {
    padding-left: 27px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.additional-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $c-gallery;
  padding: 13px 0 17px 0;

  @media (min-width: $tablet-width) {
    padding: 26px 36px;
    border: 1px solid rgba($c-silver, 0.5);
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    width: 895px;
    padding-left: 0;
    padding-right: 0;
    height: 71px;
    border-right: none;
    border-left: none;
    justify-content: space-between;
  }
}

.additional-item:first-child {
  border-top: 1px solid $c-gallery;
}

.additional-item__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.additional-promo__container {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
  }
}
