.advantages {
  width: auto;
  margin: 0 auto;
  padding: 0 20px 33px 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 51px 30px 55px 30px;
    border-bottom: 1px solid $c-silver;
  }

  @media (min-width: $desktop-width) {
    padding: 58px 40px 49px 40px;
    border: none;
  }
}

.advantages__title {
  @include font-oswald(36px);
  line-height: 1.67;
  color: $c-cod-grey;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    margin: 0;
  }
}

.advantages__list {
  list-style: none;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 52px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.advantages__item {
  line-height: 1.29;
  display: flex;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
    width: 50%;
    margin: 0;
    padding-right: 105px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    padding: 0;
    width: 240px;
  }
}

.advantages__item:first-child {
  margin-top: 0;
}

.advantages__item:nth-child(2n) {
  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    padding-left: 27px;
  }
}

.advantages__item:first-child,
.advantages__item:first-child + .advantages__item {
  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    margin-bottom: 129px;
  }
}
