.button {
  @include font-oswald(400, 16px);
  line-height: 20px;
  color: $c-white;
  background-color: $c-green;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
}
