.button {
  @include font-oswald(16px);
  line-height: 1.25;
  color: $c-white;
  background-color: $c-green;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
}
