.button {
  @include font-oswald(16px);
  line-height: 1.25;
  color: $c-white;
  background-color: $c-green;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
  width: 280px;
  height: 40px;

  @media (min-width: $tablet-width) {
    @include font-oswald(20px);
    line-height: 1;
    width: 283px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    height: 52px;
  }
}
