.catalog {
  width: auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
  }
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.catalog__title {
  @include font-oswald(36px);
  line-height: 1.67;
  color: $c-cod-grey;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
  }
}

.catalog__container {
  display: flex;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
