.contacts-form__list {
  list-style: none;
  margin-top: 33px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin-top: 75px;
    padding: 0 65px 0 70px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 75px auto 0 auto;
    padding: 0 40px;
  }
}

.contacts-form__item {
  margin-top: 14px;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 46.7%;
    margin-top: 0;
  }
}

.contacts-form__item:first-child {
  margin-top: 0;
}

.contacts-form__title br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.contacts-form__title {
  display: inline-block;
}
