.contacts__promo {
  @include font-oswald(16px);
  line-height: 1.25;
  color: $c-cod-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.contacts__text {
  line-height: 1.43;
  color: $c-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.25;
    text-align: right;
  }
}


.contacts__map {
  background: $c-light-grey;
  width: 100vw;
  min-height: 400px;
}
