//.copyright {}
//.copyright__link-logo {}

.copyright__text {
  font-size: 16px;
  color: $c-dark-grey;
}

.copyright__link {
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-left: 23px;
  }
}
