.copyright__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    opacity: 1;
    fill: $c-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__link-text {
  font-size: 16px;
  color: $c-dark-grey;
}

.copyright__link-logo {
  width: 41px;
  height: 41px;
  fill: $c-brownish-grey;
  margin-right: -7px;

  &:hover {
    fill: $c-green;
  }
}
