.example {
  background-color: $c-light-grey;
  margin: 0 auto;
  width: auto;
  padding-top: 16px;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-top: 51px;
    background: $c-white;
  }

  @media (min-width: $desktop-width) {
    padding: 90px 40px 65px 40px;
    display: flex;
    background-image: linear-gradient(to right, $c-light-grey 72.5%, $c-light-galley 50%);
    background-position: 0 254px;
    background-repeat: no-repeat;
    min-height: 639px;
  }
}

.example__container-left {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 469px;
    margin-right: 139px;
  }
}

.example__container-right {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to right, $c-light-grey 50%, $c-light-galley 50%);
    background-position: 0 179px;
    background-repeat: no-repeat;
    min-height: 639px;
  }
}

.example__title {
  @include font-oswald(36px);
  line-height: 1.67;
  color: $c-cod-grey;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    margin-top: 35px;
  }
}

.example__text {
  width: 95%;
  margin-top: 24px;
  line-height: 1.29;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 60px;
    padding-right: 38px;
    width: 100%;
    word-wrap: normal;
  }

  @media (min-width: $desktop-width) {
    margin-top: 142px;
  }
}

.example__list {
  list-style: none;
  margin-top: 27px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    margin-top: 71px;
  }
}

.example__item {
  border: 1px solid $c-silver;
  border-radius: 3px;
  width: 124px;
  height: 56px;
  text-align: center;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 72px;
  }
}

.example__item-title {
  @include font-oswald(24px);
  color: $c-cod-grey;
  line-height: 1.8;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 2;
  }
}

.example__item-subtitle {
  font-size: 12px;
  color: $c-dark-grey;
  position: absolute;
  top: 45px;
  left: 18px;
  background: $c-light-grey;
  width: 82px;

  @media (min-width: $tablet-width) {
    background: $c-white;
    font-size: 14px;
    width: 127px;
    top: 60px;
  }

  @media (min-width: $desktop-width) {
    background: $c-light-grey;
  }
}

.example__item:first-child {
  @media (min-width: $tablet-width) {
    margin-right: 42px;
  }
}

.example__expenses {
  @include font-oswald(14px);
  line-height: 1.43;
  color: $c-cod-grey;
  text-transform: uppercase;
  margin-top: 38px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
    width: 174px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    text-align: left;
    margin-top: 48px;
  }
}

.example__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.example__results {
  @include font-oswald(16px);
  line-height: 1.25;
  color: $c-cod-grey;
  text-transform: uppercase;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.example__results b {
  @media (min-width: $tablet-width) {
    border-bottom: 1px dotted rgba($c-dark-grey, 0.23);

    &:hover {
      border-bottom: 1px solid rgba($c-dark-grey, 0.4);
    }

    &:active {
      border-bottom: none;
    }
  }
}

.example__results b:first-of-type {
  margin-right: 19px;
}

.example__results b:last-child {
  margin-left: 18px;
}

.example__slider-big {
  width: 84px;
  height: 14px;
  border-radius: 6px;
  border: 1px solid $c-silver;
  background-color: $c-white;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    border-radius: 2.5px;
    background-color: $c-alto;
  }
}

.example__slider-small {
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: $c-green;
  position: absolute;
  top: 3px;
  left: 2px;

  @media (min-width: $tablet-width) {
    width: 34px;
    height: 34px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px $c-silver;
    background-color: $c-white;
    border-radius: 50%;
    top: -14px;
    left: 202px;

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
      border: solid 2px $c-green;
    }
  }
}

.example__slider-smaller {
  @media (min-width: $tablet-width) {
    width: 8px;
    height: 8px;
    background-color: $c-green;
    border-radius: 50%;
    position: absolute;
    top: 13px;
    left: 12px;
  }
}

.example__picture-container {
  @media (min-width: $tablet-width) {
    width: 636px;
    display: flex;
    align-items: flex-end;
  }
}

.example__picture img {
  width: 320px;
  height: 240px;
  margin-top: 44px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.example__picture--fat {
  @media (min-width: $tablet-width) {
    width: 338px;
    height: 499px;
    background-image: url("../img/before-tablet@1x.png");
    background-position: -6px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/before-tablet@2x.png");
      width: 338px;
      height: 499px;
      background-position: -6px;
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/before-desktop@1x.png");
    background-position: -6px;
    width: 365px;
    height: 499px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/before-desktop@2x.png");
      background-position: -6px;
      width: 365px;
      height: 499px;
      background-size: cover;
    }
  }
}

.example__picture--fit {
  @media (min-width: $tablet-width) {
    width: 298px;
    height: 517px;
    background-image: url("../img/after-tablet@1x.png");
    background-position: -88%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/after-tablet@2x.png");
      background-position: -88%;
      width: 298px;
      height: 517px;
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/after-desktop@1x.png");
    background-position: -79%;
    width: 271px;
    height: 517px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/after-desktop@2x.png");
      background-position: -79%;
      width: 271px;
      height: 517px;
      background-size: cover;
    }
  }
}
