.forms {
  @media (min-width: $tablet-width) {
    padding: 50px 66px 0 38px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 0;
  }
}

.forms__fieldset {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.forms__legend {
  line-height: 1.14;
  color: $c-dark-grey;
  text-align: center;
  display: block;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    margin-left: 60px;
  }
}

.forms__button {
  margin: 34px 20px 23px 20px;

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.forms__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}
