.forms {
  @media (min-width: $tablet-width) {
    padding: 0 22px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.forms__container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.forms__info-form {
  padding: 14px 20px 24px 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 46.7%;
  }
}

.forms__program-form {
  padding-left: 20px;
  padding-bottom: 22px;
  padding-top: 20px;
  border: 1px solid $c-gallery;

  @media (min-width: $tablet-width) {
    padding: 25px 0 25px 28px;
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.forms__contacts-form {
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 72px;
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.forms__contacts-form,
.forms__additions,
.forms__textarea {
  .title {
    display: inline-block;
  }
}

.forms__textarea {
  padding: 31px 20px 0 20px;

  @media (min-width: $tablet-width) {
    padding-top: 69px;
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.forms__additions {
  padding-top: 31px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 69px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.forms__button-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 41px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    padding-top: 58px;
  }
}

.forms__button {
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.forms__legend {
  line-height: 1.14;
  color: $c-dark-grey;
  text-align: center;
  display: block;
  margin-top: 23px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    align-self: center;
    margin-left: 61px;
    margin-top: 0;
  }
}
