.forms {
  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 0;
  }
}

.forms__container {
  margin-top: 23px;

  @media (min-width: $tablet-width) {
    margin-top: 42px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.forms__fieldset {
  display: flex;
  flex-direction: column;
}

.forms__legend {
  line-height: 1.14;
  color: $c-dark-grey;
  text-align: center;
  display: block;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    margin-left: 60px;
  }
}

.forms__button {
  margin: 34px 0 23px 0;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 54px 0 72px 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.forms__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}
