.form {
  margin: 14px 0 34px 0;
  width: auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
  }
}

.form__wrapper {
  margin: 0 30px;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.form__title {
  @include font-oswald(36px);
  line-height: 1.67;
  color: $c-cod-grey;

  @media (min-width: $tablet-width) {
    @include font-oswald(60px);
    line-height: 1;
    margin-top: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 71px;
  }
}

.form__text {
  @include font-oswald(14px);
  line-height: 1.29;
  text-transform: uppercase;
  color: $c-cod-grey;
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    @include font-oswald(20px);
    line-height: 1.5;
    margin-top: 53px;
    margin-left: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.form__container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
