.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  border-bottom: 1px solid $c-gallery;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 24px;
    margin: 0 auto;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 40px 0 40px;
    max-width: 1300px;
    margin: 0 auto;

    &--bg::before {
      content: "";
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-size: 720px auto;
      background-color: $c-green-bg;
      position: absolute;
      top: -3px;
      left: 50%;
      z-index: -1;
      display: inline-block;
      width: 50%;
      height: 696px;
      background-position: right;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 720px auto;
        background-position: right;
      }
    }
  }
}

.header__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 11px 20px 15px 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: auto;
    border: none;
    padding: 0;
  }
}

.header--closed .header__main-nav {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.header--nojs .header__toogle {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.header--nojs .header__main-nav {
  @media (max-width: $mobile-width-only) {
    display: block;
  }
}

.header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 203px;
    height: 60px;
  }
}

.header__logo-icon {
  @media (min-width: $desktop-width) {
    width: 300px;
  }
}

.header--opened .header__toogle,
.header--closed .header__toogle {
  position: absolute;
  top: 23px;
  height: 19px;
}

.header--opened .header__toogle {
  right: 22px;
  width: 19px;
  background: url("../img/icon-close.svg");

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header--closed .header__toogle {
  right: 19px;
  width: 25px;
  background: url("../img/icon-mobile-menu.svg");

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__toogle {
  z-index: 2;
  cursor: pointer;
  border: none;
}

.header__main-nav {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 438px;
  }

  @media (min-width: $desktop-width) {
    width: 477px;
  }
}
