.icon-list {

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.icon-list__img {
  min-width: 60px;
  height: 60px;
  background: $c-green no-repeat center;
  margin-right: 20px;

  &--leaf {
    background-image: url("../advantage-leaf@1x.png");
    background-size: 50px 50px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }

  &--glass {
    background-image: url("../img/advantage-powder@1x.png");
    background-size: 50px 50px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  &--cutler {
    background-image: url("../img/advantage-dining@1x.png");
    background-size: 50px 50px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  &--clock {
    background-image: url("../img/advantage-clock@1x.png");
    background-size: 50px 50px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.icon-list__text {

  @media (min-width: $tablet-width) {
    margin-top: 34px;
  }
}
