.info-form {
  padding: 0 20px 23px 20px;

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 46.7%;
  }
}

.info-form__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

//.info-form__item {}
