.main-form {
  display: block;
  padding-top: 12px;
  padding-bottom: 31px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
  }
}
