.main-catalog {
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 75px;
  }
}

.main-catalog__additional {
  padding: 31px 20px 35px 20px;

  @media (min-width: $tablet-width) {
    padding: 79px 30px 0 39px;
  }
}

.main-catalog__promo {
  margin: 39px auto 0 auto;

  @media (min-width: $tablet-width) {
    margin-top: 69px;
  }
}
