.main-catalog {
  display: block;
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 56px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 75px;
  }
}

.main-catalog__additional {
  padding: 27px 0 35px 0;

  @media (min-width: $tablet-width) {
    padding-top: 72px;
  }
}

.main-catalog__promo {
  margin: 40px auto 0 auto;

  @media (min-width: $tablet-width) {
    margin-top: 69px;
  }
}
