.main-index {
  display: block;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-top: 56px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 106px;
    margin: 0 auto;
  }
}
