.product__title {
  @include font-oswald(16px);
  color: $c-mine-shaft;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    width: 160px;
  }
}

.product__feature {
  font-size: 14px;
  line-height: 1.25;
  margin-top: 12px;
  border: none;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin: 0;
    width: 224px;
  }

  @media (min-width: $desktop-width) {
    width: 284px;
    display: flex;
    justify-content: space-between;
    margin-left: 165px;
  }
}

.product__feature span:first-child {
  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    text-align: right;
    width: 59%;
  }
}

.product__button {
  margin: 11px auto 0 auto;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 40px;
    font-size: 16px;
    line-height: 1.25;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 40px;
    margin-left: 40px;
    margin-top: 0;
    align-self: center;
  }
}
