.program-form {
  @media (min-width: $desktop-width) {
    width: 46.7%;
    height: 196px;
    align-self: flex-end;
  }
}

.program-form__list {
  list-style: none;
}

.program-form__item {
  margin-top: 14px;

  @media (min-width: $tablet-width) {
    margin-top: 13px;
  }
}

.program-form__item:first-child {
  margin-top: 0;
}
