.programs {
  @media (min-width: $desktop-width) {
    margin-top: 80px;
    width: 100%;
  }
}

.programs__list {
  list-style: none;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.programs__item {
  width: 280px;
  padding: 22px;
  margin: 22px 20px 0 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 81px 62px 62px 52px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 41px 56px 62px 52px;
    width: 570px;
    min-height: 372px;
  }
}

.programs__wrapper {
  display: flex;
}
