.program {
  background: $c-light-grey;
}

//.program__img {}

.program__description {
  line-height: 1.29;
  margin: 20px 0 23px 0;
}

.program__title,
.program__link {
  font-family: "Oswald", sans-serif;
  color: $c-cod-grey;
  text-transform: uppercase;
}

.program__title {
  font-size: 24px;
  line-height: 1.54;
}

.program__link {
  font-size: 16px;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .program__title {
    font-size: 36px;
    line-height: 1.03;
  }

  .program__description {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 26px;
  }

  .program__link {
    font-size: 20px;
    margin-top: 61px;
  }

  .program__divider {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .program__link {
    margin-top: 36px;
  }

  .program__title {
    margin-top: 45px;
  }
}

.program__divider {
  width: 240px;
  height: 1px;
  opacity: 0.1;
  background: $c-dark-grey;
  margin-bottom: 20px;
}
