.program {
  background: $c-light-grey;
  position: relative;

  &--slim::before {
    content: "";
    width: 50px;
    height: 51px;
    border-radius: 50%;
    background-color: $c-green;
    position: absolute;
    top: 25px;
    left: 21px;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      top: 93px;
      left: 448px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
      top: 48px;
      left: 52px;
    }
  }

  &--slim::after {
    content: "";
    width: 35px;
    height: 50px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 24px;
    left: 29px;

    @media (min-width: $tablet-width) {
      width: 141px;
      height: 194px;
      top: 80px;
      left: 478px;
    }

    @media (min-width: $desktop-width) {
      width: 71px;
      height: 97px;
      top: 43px;
      left: 66px;
    }
  }

  &--pro::before {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $c-green;
    position: absolute;
    top: 23px;
    left: 21px;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      top: 93px;
      left: 450px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 53px;
    }
  }

  &--pro::after {
    content: "";
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 34px;
    left: 12px;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 113px;
      top: 136px;
      left: 414px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 57px;
      top: 69px;
      left: 35px;
    }
  }

}


.program__description {
  line-height: 1.29;
  margin: 30px 0 23px 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 26px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 73px;
    margin-bottom: 32px;
  }
}

.program__title,
.program__link {
  font-family: "Oswald", sans-serif;
  color: $c-cod-grey;
  text-transform: uppercase;
}

.program__title {
  font-size: 24px;
  line-height: 1.54;
  margin-left: 68px;
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 1.03;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 161px;
  }
}

.program__link {
  font-size: 16px;
  text-decoration: none;
  position: relative;

  &::after {
    content: "";
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 12px;
    position: absolute;
    top: 6px;
    right: -35px;

    @media (min-width: $tablet-width) {
      top: 9px;
      right: -47px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-top: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 36px;
  }
}


.program__divider {
  width: 240px;
  height: 1px;
  opacity: 0.1;
  background: $c-dark-grey;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
