.site-list {
  list-style: none;
}

.site-list__item a {
  @include font-oswald(20px, 500);
  color: $c-cod-grey;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 20px;
  border-top: 1px solid $c-light-grey;
  width: 320px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 1.39;
    color: $c-mine-shaft;
    border: none;
    padding: 0;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 1.25;

    &:not(:last-child) {
      margin-left: 36px;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.site-list__item--white a {
  @media (min-width: $desktop-width) {
    color: $c-white;
  }
}

.site-list__item--active {
  @media (min-width: $tablet-width) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      bottom: -9px;
      height: 2px;
      background: $c-green;
    }
  }
}
