.social {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }
}

.social__link {
  text-decoration: none;
  fill: $c-brownish-grey;

  &:hover {
    fill: $c-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;

  @media (min-width: $tablet-width) {
    width: 124px;
  }
}
