.social {
  display: flex;
  justify-content: center;
}

//.social__item {
//  &--vkontakte {
//  }
//
//  &--instagram {
//  }
//
//  &--facebook {
//  }
//}

//.footer__copyright {}

.social__link {
  text-decoration: none;
  fill: $c-brownish-grey;

  &:hover {
    fill: $c-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 125px;
}

