.text-field {
  @include font-oswald(16px);
  line-height: 1.13;
  color: $c-mine-shaft;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-top: 14px;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    @include font-oswald(20px);
    line-height: 1;
    margin-top: 20px;
  }
}

.text-field__input {
  @include font-oswald(16px);
  line-height: 1.13;
  color: $c-dark-grey;
  border: 1px solid rgba($c-silver, 0.5);
  text-transform: uppercase;
  height: 45px;
  margin-left: 13px;
  padding: 15px 16px;
  flex-grow: 1;

  &--email {
    background: url("../img/mail.svg") no-repeat calc(100% - 20px) center;
    background-size: 18px;
  }

  &--phone {
    background: url("../img/phone.svg") no-repeat calc(100% - 17px) center;
    background-size: 21px;
  }

  @media (min-width: $tablet-width) {
    padding: 17px 20px;
    font-size: 20px;
    line-height: 1;
    height: 52px;
  }
}
