
.textarea__field {
  @include font-oswald(16px);
  line-height: 1.13;
  color: $c-dark-grey;
  text-transform: uppercase;
  border: 1px solid rgba($c-silver, 0.5);
  min-height: 150px;
  margin-top: 31px;
  padding: 15px;
  flex-grow: 1;
  white-space: nowrap;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-top: 69px;
    font-size: 20px;
    line-height: 1.5;
    padding: 17px 20px;
    min-height: 174px;
  }
}

.textarea__divider {
  width: 158px;
  height: 3px;
  background-color: $c-green;
}
