.text-field {
  @include font-oswald(16px);
  line-height: 1.13;
  color: $c-mine-shaft;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;

  @media (min-width: $tablet-width) {
    @include font-oswald(20px);
    line-height: 1;
  }
}

.text-field__input {
  @include font-oswald(16px);
  line-height: 1.13;
  color: $c-dark-grey;
  border: 1px solid rgba($c-silver, 0.5);
  text-transform: uppercase;
  height: 45px;
  margin-left: 16px;
  padding: 15px 16px 15px 12px;
  flex-grow: 1;
  outline: none;

  &--phone,
  &--email {
    margin-left: 13px;
    padding: 15px 44px 15px 12px;
  }

  &:hover {
    border: 1px solid $c-silver;
  }

  &:focus,
  &:active {
    border: 2px solid $c-dark-grey;
  }

  &:invalid {
    border: 2px solid $c-red;
  }

  @media (min-width: $tablet-width) {
    padding: 17px 20px;
    font-size: 20px;
    line-height: 1;
    height: 52px;
    margin-left: 13px;

    &--email {
      margin-left: 20px;
    }
  }
}

.text-field__image {
  position: absolute;
  right: 18px;
}

.text-field__input:focus + .text-field__image {
  fill: $c-green;
}

.text-field__input:invalid + .text-field__image {
  fill: $c-red;
}
