.title {
  @include font-oswald(24px);
  color: $c-cod-grey;
  position: relative;
  background-color: $c-white;
  display: inline-block;

  &::after {
    top: 11px;
    content: "";
    height: 3px;
    background-color: $c-green;
    width: 100vw;
    position: absolute;
    z-index: 0;
    left: 100%;
    margin-left: 24px;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;

    &::before,
    &::after {
      top: 21px;
      content: "";
      height: 3px;
      background-color: $c-green;
      width: 100vw;
      position: absolute;
      z-index: 0;
    }

    &::before {
      right: 100%;
      margin-right: 9px;
    }

    &::after {
      left: 100%;
      margin-left: 37px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before,
    &::after {
      top: 21px;
      content: "";
      height: 3px;
      background-color: $c-green;
      width: 100vw;
      position: absolute;
      z-index: 0;
    }

    &::before {
      right: 100%;
      margin-right: 24px;
    }

    &::after {
      left: 100%;
      margin-left: 33px;
    }
  }
}

.title__name {
  flex-grow: 1;
  flex-shrink: 0;
}

.title__name br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
