.title {
  @include font-oswald(24px);
  color: $c-cod-grey;
  display: flex;
  position: relative;
  background-color: $c-white;

  &::after {
    content: "";
    height: 3px;
    background-color: $c-green;
    width: 100vw;
    max-width: 100%;
    right: 0;
    flex-grow: 1;
    flex-shrink: 0;
    margin-left: 24px;
    margin-top: 12px;
    position: absolute;
    z-index: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
  }
}

.title__name {
  flex-grow: 1;
  flex-shrink: 0;
}

.title__name br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
