.title {
  @include font-oswald(24px);
  color: $c-cod-grey;
  position: relative;
  display: inline-block;
  background-color: $c-white;
  padding-right: 16px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    margin-left: 30px;
    padding-right: 42px;
    padding-left: 39px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 36px;
    padding-left: 37px;
    margin-left: 0;
  }
}

.title__name {
  flex-grow: 1;
  flex-shrink: 0;
}

.title__name br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
