$c-white: #ffffff;
$c-green: #68b738;
$c-cod-grey: #111111;
$c-mine-shaft: #222222;
$c-light-grey: #f2f2f2;
$c-dark-grey: #444444;
$c-silver: #cdcdcd;
$c-gallery: #ededed;
$c-alto: #dcdcdc;
$tablet-width: 768px;
$desktop-width: 1440px;
