//Переменные с цветами
$c-white: #ffffff;
$c-green: #68b738;
$c-cod-grey: #111111;
$c-mine-shaft: #222222;
$c-light-grey: #f2f2f2;
$c-dark-grey: #444444;
$c-silver: #cdcdcd;
$c-gallery: #ededed;
$c-alto: #dcdcdc;
$c-brownish-grey: #666666;
//Переменные с размерами вьюпорта
$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;
$tablet-width-only: 1299px;
